.form {
  margin: 25px 0px 25px 0px;
}

.input {
  margin: 5px 5px 5px 5px;
  padding: 10px 30px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #000;

  font-size: 16px;
}

input:focus {
  outline: none;
  box-shadow: none;
}
